
@font-face {
    font-family: 'my';
    src: url('./logos and fonts/VarelaRound-Regular.ttf') format('truetype');
}

/***************************************************************************/
/************************            ALL            ************************/
/***************************************************************************/

body {
    background-color: #e1f5f5;
    font-family: my;
    padding-left: 10%;
    padding-right: 10%;
    zoom: 50%;
}

@media (min-width: 720px){
    body {
        zoom: 55%;
    }
}

@media (min-width: 1500px){
    body {
        zoom: 90%;
    }
}


@media (min-width: 2000px){
    body {
        zoom: 100%;
    }
}


@media (min-width: 2300px){
    body {
        zoom: 110%;
    }
}



/***************************************************************************/
/************************            GENERAL            ************************/
/***************************************************************************/

h1 {
    font-size: 80px;
}

p {
    font-size: 16pt;
}

button {
    border: unset;
    font: unset;
    color: unset;
    cursor: pointer;
    background-color: rgba(23, 1, 148, 0.692);
    border-radius: 10px;
}

button:active {
    background-color: blue;
    border-radius: 10px;
}

.error-message {
    margin-bottom: 50/2px;
    padding: 0px;
    border: 1px solid red;
    border-radius: 5px;
    background: rgb(230, 139, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.error-message-button {
    padding:6px 40px;
    background: red;
    color: black;
    font-weight: bolder;
    font-size: 18pt;
}

.error-message-p {
    color: black;
    font-weight: bolder;
    font-size: 18pt;
}


.success-message {
    margin-bottom: 50/2px;
    padding: 0px;
    border: 1px solid rgb(0, 153, 20);
    border-radius: 5px;
    background: rgb(84, 212, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.success-message-button {
    padding:6px 40px;
    background: rgba(1, 165, 23, 0.932);
    color: black;
    font-weight: bolder;
    font-size: 18pt;
}

.success-message-p {
    color: black;
    font-weight: bolder;
    font-size: 18pt;
}

input {
    font-family: my;
}



/***************************************************************************/
/************************            SPLASH            ************************/
/***************************************************************************/

.splash {
    margin: auto;
    position: relative;
    width: 593px;
    height: 593px;
}

.splashbutton {
    border: unset;
    background: unset;
    font: unset;
    color: unset;
    cursor: pointer;
    position: absolute;
    top: 470px;
    right: 200px;
    width: 190px;
    height: 40px;
    font-size: 27px;
}

.splashbutton:hover {
    background-color: green;
    border-radius: 15px;
}

.splashbutton:active {
    background-color: blue;
    border-radius: 15px;
}

/***************************************************************************/
/************************            Header            ************************/
/***************************************************************************/

.mainHeader {
    text-align: center;
}

/***************************************************************************/
/************************            LoggingBar            ************************/
/***************************************************************************/

.justALinkNotButton {
    border: unset;
    background: unset;
    font: unset;
    color: unset;
    cursor: pointer;
    font-weight: bold;
}

.justALinkLink {
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: double;
}


/***************************************************************************/
/************************            RolesExplanation            ************************/
/***************************************************************************/

.Roles {
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 50/2px;
    padding: 40px;
}

.RolesHeader {
    font-size: 20pt;
    font-weight: bolder;
}

.Roleheader {
    font-size: 15pt;
    color: rgba(4, 0, 255, 0.514);
    font-weight: bold;
}

.Rolemeaning {
    font-size: 10pt;
    color: rgb(0, 26, 1);
}

.closeRoles {
    font-size: 25pt;
    width: 110px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
}






/***************************************************************************/
/************************            NavBar            ************************/
/***************************************************************************/

.navButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(5, 46, 2, 0);
    border-color: rgba(0, 0, 0, 0);
    border-width: thin;
    border-style: solid;
}

.naveachbutton {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
    border-color: black;
    border-width: thin;
    border-style: solid;
    margin-left: 5px;
}

.naveachbuttonselected {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
    border-color: blue;
    border-width: thin;
    border-style: solid;
    background-color: rgb(27, 2, 121);
    margin-left: 5px;
}

.navlogout {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
    border-color: black;
    border-width: thin;
    border-style: solid;
    float: left;
}




/***************************************************************************/
/************************            NachSAL Filters misc         ************************/
/***************************************************************************/


.filtersbigrow {
    width: 100%;
}


.filterSpace {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25pt;
    border-color: #e1f5f5;
    border-width: thin;
    border-style: solid;
    background-color: #e1f5f5;
    cursor: default;
    width: 20px;
    height: 32px;
}


.filterbigSpace {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10pt;
    border-color: #e1f5f5;
    border-width: thin;
    border-style: solid;
    background-color: #e1f5f5;
    cursor: default;
    width: 50/2px;
    height: 32px;
}


.filterSmallSpace {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10pt;
    border-color: #e1f5f5;
    border-width: thin;
    border-style: solid;
    background-color: #e1f5f5;
    cursor: default;
    width: 15px;
    height: 32px;
}

.filterSpace:active, .filterbigSpace:active .filterSmallSpace:active {
    background-color: #e1f5f5;
    border-radius: 15px;
}


.filterHeader {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    width: 200px;
    text-decoration: none;
    font-size: 14pt;
    border-color: black;
    border-width: thin;
    border-style: solid;
    background-color: black;
    cursor: default;
    height: 33px;
}

.filterHeader:active {
    background-color: black;
    border-radius: 5px;
}

.cleanFilters{
    text-align: center;
}

.cleanFiltersBtn{
   color:white;
   width: 250px;
   height:35px;
   font-size: 15pt;
   background-color: rgba(177, 0, 0, 0.664);
}

/***************************************************************************/
/************************            NachSAL Filters - Buttons         ************************/
/***************************************************************************/

.buttonfilters {
    position: relative;
    right: 20px;
}

.filterBTNof3false {
    display: block;
    display: inline;
    color: black;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 15pt;
    border-color: black;
    border-width: thin;
    border-style: solid;
    width: 95px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.7);
}

.filterBTNof3true {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 15pt;
    border-color: blue;
    border-width: thin;
    border-style: solid;
    background-color: rgb(27, 2, 121);
    width: 95px;
    height: 33px;
}


.filterBTNof4false {
    display: block;
    display: inline;
    color: black;
    text-align: center;
    padding: 1px 7px;
    text-decoration: none;
    font-size: 15pt;
    border-color: black;
    border-width: thin;
    border-style: solid;
    width: 70px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.7);
}

.filterBTNof4true {
    display: block;
    display: inline;
    color: white;
    text-align: center;
    padding: 1px 7px;
    text-decoration: none;
    font-size: 15pt;
    border-color: blue;
    border-width: thin;
    border-style: solid;
    background-color: rgb(27, 2, 121);
    width: 70px;
    height: 33px;
}


/***************************************************************************/
/************************            NachSAL Filters - Inputs         ************************/
/***************************************************************************/

.inputfilters {
    position: relative;
    right: 110px;
}

.inputfilterINPUT{
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.inputfilterINPUT:placeholder { 
    color: black;
    opacity: 0.7; 
}



/***************************************************************************/
/************************            Nachsal Table            ************************/
/***************************************************************************/


.theTable {
    border-collapse: collapse;
    border: 3px solid rgb(160, 111, 111);
    background-color: white;
}

.theTableTH {
    background-color: #f1d9c1 ;
    color: rgb(0, 0, 97);
    font-weight: 'bolder';
    border: 2px solid rgb(23, 0, 107);
}

.theTableTR:nth-child(even) {
    background-color: #1e6dff93;
    text-align: "center";
    font-weight: "bold";
}

.theTableTR:nth-child(odd) {
    background-color: #5085e6a2;
    text-align: "center";
    font-weight: "bold";
}

.theTableTD {
    border: 1px solid rgb(19, 20, 97);
    text-align: "center";
    font-weight: "bold";
    text-align: center;
    padding-right:10px;
    padding-left:10px;
}

/***************************************************************************/
/************************            FUD            ************************/
/***************************************************************************/



.FUD {
    display: flex;
}


.FUDcolumn {
    flex: 25%;
    padding-right: 20px;
}

.FUDcolumnFirst {
    flex: 25%;
    padding-right: 0px;
}

.fudheader {
    font-size: 28pt;
}

.fudheaderdiv {
    text-align: center;
}

.fudunit {
    border: 3px solid rgba(12, 141, 23, 0.671);
}

.fudTitle {
    text-align: center;
    font-family:  FFFFF, Helvetica, sans-serif;
    font-size: large;
    background-color: rgba(182, 118, 0, 0.705);
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: my;
}

.fudContent {
    text-align: center;
    background-color: rgba(253, 196, 89, 0.897);
    font-family:  FFFFF, Helvetica, sans-serif;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: my;
}

.fudupdatebuttondiv {
    text-align: center;
}

.fudupdatebutton {
    font-size: 20pt;
    padding-right: 50/2px;
    padding-left: 50/2px;
    padding-top: 10px;
    padding-bottom:10px;
}

.fudinput { 
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.fudinput:placeholder { 
    color: black;
    opacity: 0.7; 
}

/***************************************************************************/
/************************            Opinions            ************************/
/***************************************************************************/

.OpinionOpen {
    font-size: 25pt;
}

.OpinionClose {
    font-size: 20pt;
}

.opinion{background-color: rgb(224, 216, 193);
    position: absolute;
    right: 300px; left: 300px; 
}


.otable {
    margin-left: auto;
    margin-right: auto;
} 

.otd,  .oth {
    border: 1px solid rgb(172, 155, 155);
    padding: 8px;
}

.oth {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008856;
    color: white;
}

.otd {
    text-align: center;
}

.oselected {
    background-color: #71b0f8;
}

.oh3 {
    background-color: #5fc275;
    font-size: xx-large;
    text-align: center;
    border-radius:7%;
    font-family:  FFFFF, Helvetica, sans-serif;
}

.oh4 {
    background-color: #b4f1db;
    font-family:  FFFFF, Helvetica, sans-serif;
    font-size: large;
}


.oh5 {
    background-color: #d0f3e6;
    font-family:  FFFFF, Helvetica, sans-serif;
    font-size: medium;
    width: 300px;
    margin: auto;
}

.oh4,.oh5,.op {
    text-align: center;
    border-radius:25%;
}



/***************************************************************************/
/************************            Footer            ************************/
/***************************************************************************/



.footer {
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}

.footerlabel {
    text-align: center;
    font-weight: bolder;
}

.footerinput {
    margin: auto;
    width: 25%;
}

.footerinputshort {
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.418);
}

.footerinputlong {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.418);
}

.footerinputlong:placeholder {
    font-size: 30pt;
}

.footerbuttonwarapper {
    width: 500px;
    overflow: hidden; 
    position: relative;
    right: 450/2px;
}


.footersend {
    margin: auto;
    width: 180px;
    float:right; 
}

.footersendbutton {
    margin: auto;
    width: 125px;
    height: 50/2px;
    font-size: 20pt;
}

.footercancel {
    margin: auto;
    border: 1px sold green;
    overflow: hidden;
}

.footercancelbutton {
    margin: auto;
    width: 125px;
    height: 50/2px;
    font-size: 20pt;
    background-color: red;
    color: white;
}

.version {
    text-align: center;
    opacity: 0.5;
}

.author {
    text-align: center;
    opacity: 0.35;
}
