############################## SERVER and docs folder ##################################################################

#TOTHISWHENPUBLIC
/server/.env

#TOTHISWHENPUBLIC
/server/node_modules

############################## CLIENT ##################################################################

# dependencies
#TOTHISWHENPUBLIC
/client/node_modules
#TOTHISWHENPUBLIC
/client/.pnp
#TOTHISWHENPUBLIC
/client/.pnp.js

# testing
#TOTHISWHENPUBLIC
/client/coverage

# production
#TOTHISWHENPUBLIC
/client/build

# misc
#TOTHISWHENPUBLIC
/client/.DS_Store
#TOTHISWHENPUBLIC
/client/.env.local
#TOTHISWHENPUBLIC
/client/.env.development.local
#TOTHISWHENPUBLIC
/client/.env.test.local
#TOTHISWHENPUBLIC
/client/.env.production.local

#TOTHISWHENPUBLIC
/client/npm-debug.log*
#TOTHISWHENPUBLIC
/client/yarn-debug.log*
#TOTHISWHENPUBLIC
/client/yarn-error.log*

#TOTHISWHENPUBLIC
/client/.eslientcache
#TOTHISWHENPUBLIC
/client/debug.log