:root {
  --primary-color: #927d05;
  --light-color: #9b9b9b;
  --dark-color: #b9e9d7;
  --danger-color: #c71a1a;
  --good-color: #008011;
  --danger-light-color: #f5b2b2;
  --good-light-color: #74df70;

  --text-dark-color: #16003a;
  --text-light-color: #ffffff;
  --text-link-color: #0011ff;
  --text-danger-color: #a81515;
  --text-good-color: #008011;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
